<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default bg-info text-white'>
    <div class='container'>
        <div class='navbar-header'>
            <a class='navbar-brand text-white' href='/'>
                Store
            </a>
        </div>
        <div class='pull-right'>
            <!-- <a href='/' class='btn btn-default navbar-btn text-white'>Sign Up</a> -->
            <a href='/shopping-cart' class='btn btn-default navbar-btn text-white'>Shopping Cart</a>
        </div>
    </div>
</nav>